<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">HOME</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    </div>
  <div>
    <% if ("user") { %>
    <form class="form-inline" action="/logout" method="POST">
      Logged in as: <%= ("user.email") %>
      <button type="submit" class="btn btn-primary">Logout</button>
    </form>
    <% } else { %>
    <a class="nav-item nav-link" href="/register">Register</a>
    <a class="nav-item nav-link" href="/login">Login</a>
    <% } %>
  </div>
</nav>
</header>
