<% if (user) { %>
<div>
    <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/singleUserMapsRoute">
    <h4>My Maps</h4>
  </a>
  <a class="dropdown-item" href="/maps/create">
    <h4>Create Map</h4>
  </a>
  <a class="dropdown-item" href="/userFavoriteMapsRoute">
    <h4>Favorite Maps</h4>
  </a>
  <div class="dropdown-divider"></div>
</div>
<% } %>
