<% if (user) { %>
<div>
<<<<<<< HEAD
    <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/singleUserMapsRoute">
=======
  <a class="dropdown-item" href="/mymaps">
>>>>>>> newbranch
    <h4>My Maps</h4>
  </a>
  <a class="dropdown-item" href="/maps/create">
    <h4>Create Map</h4>
  </a>
  <a class="dropdown-item" href="/favorites">
    <h4>Favorite Maps</h4>
  </a>
  <div class="dropdown-divider"></div>
</div>
<% } %>
