<% if (user) { %>
<div class="dropdown-divider"></div>

<div>
  <a class="dropdown-item" href="/mymaps">
    <h4>My Maps</h4>
  </a>
  <a class="dropdown-item" href="/maps/create">
    <h4>Create Map</h4>
  </a>
  <a class="dropdown-item" href="/favorites">
    <h4>Favorite Maps</h4>
  </a>
  <div class="dropdown-divider"></div>
</div>
<% } %>
