<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign In</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- font awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css"
    integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">

</head>

<body>
  <header class="border border-dark">
    <% include ./partials/_header %>
  </header>
  <main style="margin: 1em;">
      <h3></h3>
      <form action="/login" method="POST">
        <div class="form-group mb-2">
          <label for="email-address">Email address</label>
          <input class="form-control mb-3" type="email" name="email" id="email-address" placeholder="Enter email" style="width: 300px;" required>
        </div>
        <div class="form-group mb-2">
          <label for="pass">Password</label>
          <input class="form-control mb-3" type="password" name="password" id="pass" placeholder="Password" style="width: 300px;"required>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
    </main>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
