<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign In</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- font awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css"
    integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">

</head>

<body>
  <header class="border border-dark">
    <% include ./partials/_header %>
  </header>
  <div class="card" style="width: 25rem;">
      <% include ./partials/_user-register-sign-in %>
    <div class="card-body">
      <div>
      <h3 class="card-title">Profile <strong><i class="far fa-user"></i></strong></h3>
    </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Username:</strong>> "map.user.id"</li>
      <li class="list-group-item"><strong>Email address:</strong>> "map.user.email"</li>

      <li class="list-group-item"><strong>Favourite maps:</strong>
        <% for(map of maps){ %>
          <div>
        <a href="/maps/<%= map.idForSingleUser %>" class="btn btn-primary"></a>DescriptionFor-map.idForSingleUser
        <% } %>
      </div>
      </li>
      <li class="list-group-item"><strong>Contributed to:</strong>
        <% for(map of maps){ %>
          <div>
        <a href="/maps/<%= map.idForContributedMaps %>"class="btn btn-primary"></a>DescriptionFor-map.idForidForContributedMaps
        <% } %>
      </div>
      </li>

    </ul>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
