body {



  div.flex {
    // padding-top: 70px;
    // position: fixed;
    background-color: rgba(15, 23, 37, 0.212);
    width:100%;
    display: flex;
    justify-content: space-between;

    overflow-y: auto;
}

div.create-form {
  width: 60%;
  margin-top:10%;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 20%;
}

  };
