header {

  div.navbar-collapse {
    color: aliceblue;
  }
  a {
    margin: 2px;
    color: aliceblue;
  }

  button {
    margin: 5px;
  }

  position: sticky;
  nav h5 {
    color: aliceblue;
  }
  nav h2 {
    color: aliceblue;
  }

  strong.username-big {
    padding-right: 15px;
    }
    strong {
      color: aliceblue;
      // padding-right: 15px;
      }

  nav select {
    display: none;
  }
  width: 100%;
  z-index: 1010;
  top:0;

div.header-all-maps {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

  div {
    color: #244751;
    float: right;
  }
  }
  nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;



    div.credentials {
      margin-right: 10px;
      display: inline-flex;
      form {
        display: inline-flex;
      align-items: center;
      }

    }
      h5 {
        padding-top: 10px;
        padding-right: 10px;
      }
      button {
        margin: 10px;
    height: 40px;
    width: 85px;
      }


      @media (max-width: 990px) {
        div.navbar-collapse {
          span a {
            width: -webkit-fill-available;
          }

        }
        display: none;
        strong.username-big {
         display: none;

       }
     }

     @media (min-width: 990px) {
      strong.username-small {
        display: none;


      }
  }

  #logout > .btn {
    width: 100%;
    display: block;
    margin: auto;
  }
}



