header {
  background-color: rgb(140, 151, 170);
  height: 70px;
  width: 100%;
div.header-all-maps {
  display: inline-flex;
  align-items: center;

}

  div {
    color: #244751;
    float: right;
  }
  nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    a {
      margin: 10px;
    }
    div.credentials {
      margin-right: 10px;
      form {
        display: inline-flex;
      align-items: center;
      }
    }
      h5 {
        padding-top: 10px;
        padding-right: 10px;
      }
      button {
        margin: 10px;
    height: 40px;
    width: 85px;
      }
}
}
