header {

  position: sticky;
  nav h5 {
    color: aliceblue;
  }
  nav h2 {
    color: aliceblue;
  }

  strong {
    color: aliceblue;
    }

  nav select {
    display: none;
  }


  // background-color: rgb(140, 151, 170);
  // height: 70px;
  width: 100%;
  // position: fixed;
  z-index: 1010;
  top:0;
  // padding-left: 5px;

div.header-all-maps {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

  div {
    color: #244751;
    float: right;
  }
  }
  nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;



    div.credentials {
      margin-right: 10px;
      display: inline-flex;
      form {
        display: inline-flex;
      align-items: center;
      }
      @media (max-width: 960px) {
         display: none;
      }
    }
      h5 {
        padding-top: 10px;
        padding-right: 10px;
      }
      button {
        margin: 10px;
    height: 40px;
    width: 85px;
      }
}



