// See: https://sass-lang.com/

body {
  background-color: #EEE;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  article {
    margin-left: 30%;
  }
  h1 {
    margin-left: 74%;
  }
  div {
    width: 20%;
  }
}
