// See: https://sass-lang.com/

body {
  div.card {
    div.card-body {
      div.card-title {
        width:100%;
        height: 33px;
        .card-text {
          width:100%;
        }
      }
      button {
        height: fit-content;
        margin-left: 60px;
      }
    }
    h5 {
      div.heart {
        margin-bottom: 10px;
      }

    }
  }


  div.if-user-loggedin {
    width:10%;

  }
  div.register-form {
    margin-top: 70px;
  }
  background-color: rgba(15, 23, 37, 0.212);
  div.flex {
    background-color: rgba(15, 23, 37, 0.212);
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
  #carouselExampleControls {
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }
    .carousel-caption {
      padding: 0;
      a {
        color: aliceblue;
      }


      background-color: rgba(0, 0, 0, 0.3);
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: calc(30vh + 15em);
  }
}
.table {
  width: 70vw;
 }
.map-markers-container {
  margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 2%;
}
div.go-and-fav {
  display: inline-flex;
  form {
    padding-left: 10px;
  }
}

@media (max-width: 991px) {
  div.flex { flex-direction: column }
  div.looged-in-side-bar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: flex;
  }
  div.flex {


  #carouselExampleControls {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: inherit;
  }
}
.map-markers-container {

}
}
@media (max-width: 370px) {
  div.flex { flex-direction: column }
  div.looged-in-side-bar {
    width: 75%;
    margin: 0;
    display: flex;
  }
}

.heart {
  width: 120px;
  height: 65px;
  display: absolute;
  left: 50%;
  top: 80%;
  transform: translate(0%, -61%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}
.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
};

