body {
  height: 100vh;
  overflow-y: auto;
  div.if-user-loggedin {
    width:20%;
    form.form-inline {
      padding-left: 5px;
    }
  }
  div.all-maps {
    height: 90%;
    overflow-x: hidden;
    width: 75%;
    margin: auto;
  }
  div.map-body {
    margin: auto;
  }
  .map {
    min-width: 25vw;
    max-width: 100%;
  }
  }

