body {
  div.if-user-loggedin {
    width:20%;
    form.form-inline {
      padding-left: 5px;
    }
  }
  div.all-maps {
    margin-top: 2%;
    height: 90%;
    overflow-x: auto;
    margin-right: 10%;
    width: 75%;
  }
  }

